.sideDrawer{
    width: 75%;
    height: 100vh;
    background-color: #F26B9C;
    position: absolute;
    left: 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500; 
    box-shadow: 1px 0px 8px grey;
}

.sideDrawer-list-item{
    margin-bottom: 35px;
   
}

.sideDrawer-list-link{
text-decoration: none;
color: white;


}

.sideDrawer-list-link.active{
    text-decoration: none;
    color: #2E78A6;
   
}