.footer{
    height:200px;
    background-color:#F26B9C;
    color: white;
    display: flex;
    padding: 25px;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}

.footer .logo{
    width: 100%;
    font-size: 50px;
    display: block;
}

.social-media{
    font-size: 30px;
    width: 250px;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;

}