.order-step-1,
.order-step-2{
max-width: 1200px;
width: 100%;
margin: 20px auto;
font-family: roboto;
}

.form.order-step-1__form,
.form.order-step-2__form{
    padding: 30px;
    padding: 30px 100px;
}

.artStyles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20vh);
    gap: 25px;
}

.question{
    padding: 15px 0px;
    margin-top: 20px;
    font-family: roboto;
}

.next-button,
.prev-button,
.checkout-button{
    background-color: transparent;
    border: 1px solid #F26B9C;
    color: gray;
    width: 120px;
    border-radius: 0px;
    padding: 8px 0px;
 
}

.full-body,
.portrait-size{
    display: flex;
    flex-direction: column;
    margin-bottom:25px ;
}

@media only screen and (max-width:1200px) {
    .form.order-step-1__form,
    .form.order-step-2__form{
        box-shadow: none;
    }
    
}


@media only screen and (max-width:720px) {
    .artStyles-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 15vh);
    }
    .form.order-step-1__form,
    .form.order-step-2__form{
        padding: 30px ;
        box-shadow: none;
    }
    
}


.over-view{
margin: 50px auto;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
padding: 20px;
max-width: 500px;
}
.over-view h2{
    padding-bottom: 15px;
}
.over-view p{
    padding-bottom: 15px;
}
